.contribution {
  background-color: $color-light-gray;

  @include media('<desktop') {
    padding: 40px 0;
  }

  &--about {
    .contribution__title {
      max-width: 100%;
    }
    .contribution__content {
      width: 40%;

      @include media('<desktop') {
        width: 100%;
      }
    }
    .contribution__image-grid {
      width: 60%;
      grid-template-columns: repeat(5, 1fr);
      grid-template-areas:
        '. a . b .'
        'c . d . e'
        '. g . h .'
        'i . k . .';

      @include media('<desktop') {
        width: 100%;
        grid-template-areas: none;
        grid-template-columns: repeat(4, 1fr);
        gap: 4px;
      }

      @include media('<tablet') {
        gap: 4px;
      }

      @include media('<phone') {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .contribution__image-grid-item {
      &:nth-child(1) {
        grid-area: a;

        @include media('<desktop') {
          grid-area: auto;
        }
      }

      &:nth-child(2) {
        grid-area: b;

        @include media('<desktop') {
          grid-area: auto;
        }
      }

      &:nth-child(3) {
        grid-area: c;

        @include media('<desktop') {
          grid-area: auto;
        }
      }

      &:nth-child(4) {
        grid-area: d;

        @include media('<desktop') {
          grid-area: auto;
        }
      }

      &:nth-child(5) {
        grid-area: e;

        @include media('<desktop') {
          grid-area: auto;
        }
      }

      &:nth-child(6) {
        grid-area: g;

        @include media('<desktop') {
          grid-area: auto;
        }
      }

      &:nth-child(7) {
        grid-area: h;

        @include media('<desktop') {
          grid-area: auto;
        }
      }

      &:nth-child(8) {
        grid-area: i;

        @include media('<desktop') {
          grid-area: auto;
        }
      }

      &:nth-child(9) {
        grid-area: k;

        @include media('<desktop') {
          grid-area: auto;
          display: none;
        }

        @include media('<phone') {
          display: block;
        }
      }
    }

    .contribution__actions {
      @include media('<desktop') {
        justify-content: center;
      }
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    gap: 24px 32px;

    @include media('<desktop') {
      flex-direction: column;
    }
  }

  &__content {
    width: 32%;
    padding: 24px 0;

    @include media('<desktop') {
      width: 100%;
      padding: 0;
    }
  }

  &__title {
    max-width: 400px;
    width: 100%;
    @include adaptive-value('font-size', 56, 28, 1);
    @include adaptive-value('margin-bottom', 32, 24, 1);

    @include media('<desktop') {
      max-width: 100%;
    }
  }

  &__description {
    margin-bottom: 48px;

    @include media('<desktop') {
      margin-bottom: 0;
    }

    p {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }

  &__image-grid {
    width: 68%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      'a . b . c .'
      '. d . e . f'
      '. . g . h .'
      '. i . j . k'
      '. . l . . .';

    @include media('<desktop') {
      width: 100%;
      grid-template-areas: none;
    }

    @include media('<tablet') {
      grid-template-columns: repeat(4, 1fr);
      gap: 4px;
    }

    @include media('<phone') {
      grid-template-columns: repeat(3, 1fr);
    }

    &-item {
      aspect-ratio: 1 / 1;

      &:nth-child(1) {
        grid-area: a;

        @include media('<desktop') {
          grid-area: auto;
        }
      }

      &:nth-child(2) {
        grid-area: b;

        @include media('<desktop') {
          grid-area: auto;
        }
      }

      &:nth-child(3) {
        grid-area: c;

        @include media('<desktop') {
          grid-area: auto;
        }
      }

      &:nth-child(4) {
        grid-area: d;

        @include media('<desktop') {
          grid-area: auto;
        }
      }

      &:nth-child(5) {
        grid-area: e;

        @include media('<desktop') {
          grid-area: auto;
        }
      }

      &:nth-child(6) {
        grid-area: f;

        @include media('<desktop') {
          grid-area: auto;
        }
      }

      &:nth-child(7) {
        grid-area: g;

        @include media('<desktop') {
          grid-area: auto;
        }
      }

      &:nth-child(8) {
        grid-area: h;

        @include media('<desktop') {
          grid-area: auto;
        }
      }

      &:nth-child(9) {
        grid-area: i;

        @include media('<desktop') {
          grid-area: auto;
        }
      }

      &:nth-child(10) {
        grid-area: j;

        @include media('<desktop') {
          grid-area: auto;
        }
      }

      &:nth-child(11) {
        grid-area: k;

        @include media('<desktop') {
          grid-area: auto;
        }
      }

      &:nth-child(12) {
        grid-area: l;

        @include media('<desktop') {
          grid-area: auto;
        }
      }

      &-image {
        display: block;
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px 24px;

    @include media('<phone') {
      flex-direction: column;
      align-items: stretch;
    }

    &.desktop-only {
      @include media('<desktop') {
        display: none;
      }
    }

    &.mobile-only {
      width: 100%;
      @include media('>=desktop') {
        display: none;
      }
    }
  }

  &__btn {
    @include media('<phone') {
      width: 100%;
    }
  }
}
