@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-style: #{$style};
    font-weight: #{$weight};
    src:
      url('/fonts/#{$file_name}.eot') format('eot'),
      url('/fonts/#{$file_name}.woff') format('woff'),
      url('/fonts/#{$file_name}.woff2') format('woff2'),
      url('/fonts/#{$file_name}.ttf') format('ttf'),
      url('/fonts/#{$file_name}.svg') format('svg');
    font-display: swap;
  }
}

// Used weights in the project: 400, 500, 600, 700
@include font('Manrope', 'Manrope-Regular', 400, normal);
@include font('Manrope', 'Manrope-Medium', 500, normal);
@include font('Manrope', 'Manrope-SemiBold', 600, normal);
@include font('Manrope', 'Manrope-Bold', 700, normal);
