// Colors
$base-text-color: #2a2827 !default;
$color-white: #ffffff;
$color-dark-red: #420d10;
$color-red: #a72128;
$background-red: #c92027;
$color-light-gray: #f9f8ef;
$base-background-color: $color-white;

$focus-ring-offset: 3px !default;
$focus-ring-width: 3px !default;

$base-font-sans-serif: 'Manrope', sans-serif;

// Headers
$h4-font-size: 22px;
$h5-font-size: 17px;
$h6-font-size: 15px;

$animation-speed: all 0.3s ease 0s;
